openapi: 3.0.0
info:
  title: timr API
  description: |
    The timr REST API enables you to integrate timr with your own applications, services and business processes.

    Use the API to access supported resources such as **working times, absences, project times, drive logs and related master data**. Depending on the resource, the API provides **read and/or write access**.

    ## Integrate timr with your systems

    API access can operate either on **client level**, across the organization, or within the permissions of an individual **timr user**.

    For integrations that replicate timr data into another system, the API supports **efficient incremental synchronization**, including access to changed and deleted records.

    ### Typical use cases

    The timr REST API can be used to:

    - **Synchronize timr data with external applications**
    - **Import or update supported data in timr**
    - **Build custom reports and dashboards**
    - **Replicate timr data into your own systems**

    ## Need help or missing an endpoint?

    If you have questions about the API, need help with your integration, or require access to data or functionality that is currently not available through the API, please contact our [support team](https://www.timr.com/en/s/support/). We’re happy to review your use case and available options.
  contact:
    name: troii Software GmbH
    email: info@timr.com
    url: https://www.timr.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.timr.com/v1/
security:
  - OAuth2: []
tags:
  - name: Authentication
    description: |-
      Integrations authenticate with OAuth2. Rather than handling a timr username and password, your
      application obtains an access token from the timr authorization server and sends it with every
      request:

      ```http
      GET /v1/working-times HTTP/1.1
      Host: api.timr.com
      Authorization: Bearer <access_token>
      ```

      A request without a valid token is answered with `401 Unauthorized`.

      ## Choosing a flow

      Which flow you use depends on whose data your integration touches.

      **Client credentials** suits a system talking to timr as itself — a nightly export, a sync job, a
      service reconciling timr with another system. The token is issued for the client and grants access in
      the client context, across users, according to the permissions the client has. No person signs in and
      no browser is involved.

      **Authorization code** suits an integration acting on behalf of an individual timr user — a desktop
      tool, a mobile app, anything where someone signs in and works with their own data. The token is
      issued in the context of that user and is limited to that user's permissions; it does not grant
      account-wide access. Add the `offline_access` scope to receive a refresh token as well.

      ## Creating API credentials

      You need to be a timr administrator.

      Open **Administration → Settings → Integrations**, and under **API Credentials** click **+ Add**.
      Give the client a name, choose its grant type, and save. timr then shows the client ID, and for a
      confidential client the client secret — which is displayed only there, so store it securely.

      ## Finding the endpoints

      The authorization server publishes its OpenID Provider metadata:

      ```
      https://system.timr.com/id/.well-known/openid-configuration
      ```

      Read the authorization and token endpoints from that document rather than hardcoding them, so an
      endpoint can move without breaking your integration. Today they are:

      |                        |                                               |
      |------------------------|-----------------------------------------------|
      | Authorization endpoint | `https://system.timr.com/id/oauth2/authorize` |
      | Token endpoint         | `https://system.timr.com/id/oauth2/token`     |
      | API base URL           | `https://api.timr.com/v1`                     |

      An unauthenticated response also points at the metadata describing this API, following
      [RFC 9728](https://www.rfc-editor.org/rfc/rfc9728.html), which names the authorization server that
      protects it:

      ```http
      HTTP/1.1 401 Unauthorized
      WWW-Authenticate: Bearer resource_metadata="https://api.timr.com/v1/.well-known/oauth-protected-resource"
      ```

      ## Client credentials

      Client credentials clients use the scopes `openid timrclient`. Request a token from the token
      endpoint:

      ```http
      POST /id/oauth2/token HTTP/1.1
      Host: system.timr.com
      Content-Type: application/x-www-form-urlencoded

      client_id=<client_id>&client_secret=<client_secret>&grant_type=client_credentials&scope=openid timrclient
      ```

      ```json
      {
        "access_token": "<access_token>",
        "scope": "openid timrclient",
        "token_type": "Bearer",
        "expires_in": 3599
      }
      ```

      This flow returns no refresh token. When the access token expires, repeat the same request.

      ## Authorization code

      Authorization code clients use the scopes `openid offline_access`.

      ### Redirect URLs

      Configure at least one redirect URL on the client. They must be absolute and must not contain a
      fragment, one per line:

      ```
      https://example.com/oauth/timr/callback
      https://app.example.com/integrations/timr/callback
      ```

      The `redirect_uri` you send in the authorization and token requests must match one of them exactly,
      so register every URL you use — including the one you develop against.

      ### Step 1 — send the user to the authorization endpoint

      ```http
      GET /id/oauth2/authorize?response_type=code&client_id=<client_id>&redirect_uri=<redirect_uri>&scope=openid%20offline_access&state=<state> HTTP/1.1
      Host: system.timr.com
      ```

      Generate `state` yourself, store it before redirecting, and verify it when the user comes back — it
      is what protects the callback from being forged. After signing in, the user is returned to your
      redirect URL:

      ```
      https://example.com/oauth/timr/callback?code=<authorization_code>&state=<state>
      ```

      ### Step 2 — exchange the code for tokens

      ```http
      POST /id/oauth2/token HTTP/1.1
      Host: system.timr.com
      Content-Type: application/x-www-form-urlencoded

      client_id=<client_id>&client_secret=<client_secret>&grant_type=authorization_code&code=<authorization_code>&redirect_uri=<redirect_uri>
      ```

      ```json
      {
        "access_token": "<access_token>",
        "refresh_token": "<refresh_token>",
        "scope": "openid offline_access",
        "token_type": "Bearer",
        "expires_in": 3599
      }
      ```

      ### Step 3 — refresh when the token expires

      ```http
      POST /id/oauth2/token HTTP/1.1
      Host: system.timr.com
      Content-Type: application/x-www-form-urlencoded

      client_id=<client_id>&client_secret=<client_secret>&grant_type=refresh_token&refresh_token=<refresh_token>
      ```

      If the response carries a new refresh token, replace the one you stored.

      ### Public clients and PKCE

      An application that cannot keep a secret — anything running on a user's device or in a browser — is
      a public client. It must not embed a client secret, and secures the flow with PKCE instead: send a
      `code_challenge` with the authorization request and the matching `code_verifier` with the token
      request, and omit `client_secret` entirely.

      ## Troubleshooting

      **The authorization request is rejected.** Check that `redirect_uri` matches a configured URL
      exactly, that it is absolute, and that it has no fragment.

      **No refresh token came back.** Refresh tokens are issued only by the authorization code flow, and
      only when `offline_access` is among the requested scopes.

      **A request returns fewer entries than expected.** Each endpoint returns only what the authenticated
      user or client may see, so an empty list can mean a missing permission rather than missing data.
      Requesting something that exists but is not visible to you is answered with `403 Forbidden`.

      ## Trying it out

      The **Authorize** button at the top of this page runs the authorization code flow with PKCE for you.
      Enter your client ID, choose the scopes, and the requests you send from any endpoint below carry the
      resulting token — register this page's URL as a redirect URL on the client you use here.
  - name: Identifiers
    description: |-
      Every entry the API returns is identified by an `id`, and identifiers are **opaque strings**. Their
      format is not part of this contract: do not parse them, derive meaning from them, sort by them, or
      assume how long they are. Store them as text, and pass them back unchanged.

      ```json
      {
        "id": "7e05c860-2793-4e0b-938e-5a5641fc981c",
        "external_id": "PAY-2026-00417"
      }
      ```

      ## Your own identifiers

      Fields named `external_id` are yours. They hold the identifier an object has in your system — a
      payroll number, a row key, a ticket reference — and timr only stores and returns them. You decide
      the format, and you decide whether to set one at all.

      They are how you recognise your own records when they come back: write your identifier when you
      create the entry, and every later read carries it.

      Note that no endpoint filters by `external_id` — you cannot ask timr for the entry with a given one.
      An integration that needs to look entries up by its own identifier has to keep the mapping, or fetch
      the page it expects and match on the way through.
  - name: Dates and times
    description: |-
      Date-time values follow [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339.html), the internet profile
      of [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html), and always carry an explicit
      UTC offset:

      ```
      2021-07-16T09:30:00+02:00
      ```

      Plain dates are `YYYY-MM-DD` and carry no time and no zone:

      ```
      2021-07-16
      ```

      ## A date without a year

      Something that recurs every year has no year to state, and those fields use the ISO 8601 month-day
      form. The leading double hyphen is part of it — it is how ISO 8601 marks a representation with the
      year omitted, and a value without it is rejected:

      ```
      --05-20
      ```

      `User.vacation_year_start` is the one field of this kind today: the month and day on which a user's
      vacation year begins, which is the same date every year. Read it as a month and a day, not as a date
      in the current year — the year it applies to depends on the period you are calculating.

      ## The offset carries meaning

      On a recording — `start`, `end`, and the GPS `timestamp` — the offset is the one on the device the
      entry was made on. It is not necessarily UTC, and it is not necessarily the account's time zone.

      That makes it information, not formatting. A working time started at `08:00+02:00` was started at
      eight in the morning where the person was. Convert it to UTC for storage and you can still show the
      right instant, but you have lost what the clock on the wall said — which is usually the thing a
      timesheet is about. Keep the offset you were given, and send back the offset that applies where the
      recording happened.

      Audit timestamps are different. `created`, `last_modified` and their kind are always UTC, and say
      when the server acted. Do not infer a device time zone from them.

      ## Sending values

      Send an explicit offset on every date-time you write. RFC 3339 requires one, and `Z` is accepted as
      `+00:00`.

      ## Filtering by day

      The filters that narrow a list to a period take plain dates and include both ends. `start_from` and
      `start_to` on the recording lists select entries whose **start** falls on or after, and on or before,
      the given day — so `start_from=2021-07-01&start_to=2021-07-31` returns everything that started in
      July, including entries that run past midnight on the 31st.

      Each filter says which property it applies to. `entry_date_from` and `resign_date_to` on the user
      list work the same way against employment dates.

      ## Durations

      Durations are **integer minutes**, never ISO 8601 durations. A working time, project time or drive
      log carries a `duration` object rather than a bare number:

      ```json
      {
        "duration": {
          "type": "minutes",
          "minutes": 42,
          "minutes_rounded": 45
        }
      }
      ```

      `minutes` is the net duration; `minutes_rounded` is the same value after the rounding rule the
      account is configured with, which is what most reports and invoices are built on. Read whichever the
      integration is meant to reflect, and do not recompute either from `start` and `end` — breaks are
      already deducted from them.

      `type` says how the duration is expressed. `minutes` is a measured stretch of time; `full_day` and
      `half_day` are for absences booked by the day, where timr derives the minutes from the user's work
      schedule rather than from a clock. You only send `duration_type` when the working time type is
      recorded in days or half days.

      Elsewhere, plain minute fields carry their unit in the name — `break_time_total_minutes`,
      `target_duration_minutes`, `balance_total_minutes` — and are integers for the same reason.
  - name: Pagination
    description: |-
      List endpoints are cursor paginated. Ask for a page, and the response tells you how to get the next
      one.

      ```http
      GET /v1/working-times?limit=100 HTTP/1.1
      ```

      ```json
      {
        "data": [ ... ],
        "next_page_token": "eyJpZCI6IjAxSFEzRjhYSzJSN1dZNU40TTZWVDlaQlFEIn0"
      }
      ```

      Pass that token back as `page_token` to continue, and keep going until `next_page_token` is `null`:

      ```http
      GET /v1/working-times?limit=100&page_token=eyJpZCI6IjAxSFEzRjhYSzJSN1dZNU40TTZWVDlaQlFEIn0 HTTP/1.1
      ```

      The `Link` header points at the same next page, if you would rather follow it than build the URL.

      ## What to expect

      `limit` sizes the page. It defaults to 20, and values above 500 are capped at 500 rather than
      rejected — so asking for a thousand gives you five hundred, not an error.

      **There is no total count.** A cursor cannot know one without counting the whole result, so nothing
      in the response tells you how many entries match. Do not build a page-number UI on top of this;
      iterate until the token is `null`, or show a "load more" affordance.

      Keep the other query parameters identical while you page. The token encodes where you stopped in a
      particular result, and changing the filter underneath it makes the continuation meaningless.

      An empty first page means nothing matched — or that the entries exist but the authenticated user or
      client is not permitted to see them.
  - name: Sorting
    description: |-
      Pass `sort_by` to choose the property and `sort_direction` to choose the direction, `asc` or `dsc`:

      ```http
      GET /v1/working-times?sort_by=start&sort_direction=dsc HTTP/1.1
      ```

      Which properties an endpoint can sort by is part of its own description in the reference — they
      differ, because they describe different things.

      ## Order is stable across pages

      Every sort ends with the entry `id` as a tiebreaker. Without one, entries sharing a value could come
      back in a different order on each request, and a cursor walking through them could show an entry
      twice or skip it entirely. With one, the order is total, and paging through a large result is safe.

      The tiebreaker is applied for you; you never pass it.

      Sorting by `id` yourself is not meaningful — identifiers are opaque and their order says nothing
      about the entries. Sort by a property that means something, such as `start` or `last_modified`.
  - name: Deleted entries
    description: |-
      An integration that keeps its own copy of timr data faces a problem the ordinary list endpoints
      cannot solve: an entry that was deleted simply stops appearing, and nothing tells you it was ever
      there.

      Endpoints ending in `:deleted` close that gap. They list the entries that were deleted, so you can
      remove them from your copy too:

      ```http
      GET /v1/working-times:deleted HTTP/1.1
      ```

      They return the `id`, along with `last_modified` and `last_modified_by` recording when the deletion
      happened and who made it — not the original content, which is gone. Match the `id` against what you
      hold and drop it.

      ## Reconciling

      A sync that only ever adds and updates will drift. A complete pass is:

      1. Fetch what changed since your last run from the ordinary list endpoint.
      2. Fetch the deletions from the matching `:deleted` endpoint for the same period.
      3. Apply both, and record when you ran.

      Deleted entries are paginated and sorted like every other list, so the same rules apply — page until
      `next_page_token` is `null`, and keep your filters identical while you do.
  - name: User
    description: |
      The people in the account who record times. A User holds identity and employment data and is assigned a Work Schedule Model and a Holiday Calendar. Working Times, Project Times and Drive Logs all belong to a User.
  - name: Team
    description: |
      Hierarchical groups of Users. Team membership and leadership determine who can see and manage whose records.
  - name: Working Time
    description: |
      Records that a person was at work, or absent — one continuous stretch from start to end, classified by its Working Time Type. Every balance timr derives starts here.
  - name: Working Time Type
    description: |
      The classification applied to a Working Time: attendance time, vacation, paid or unpaid time off, suspension, or break time. The type governs how the time counts toward balances and how breaks are deducted.
  - name: Working Time Date Span
    description: |
      A multi-day bracket around day-based Working Times of a single type, typically an absence such as vacation or sick leave. timr derives one Working Time per covered day, so the period is recorded once instead of day by day.
  - name: Time Account
    description: |
      The balances derived from a User's recordings — target against actual duration, overtime, and further accounts such as vacation. Read-only, and always evaluated as of a given day.
  - name: Work Schedule Model
    description: |
      Reusable templates defining the expected target duration per weekday. timr compares recorded Working Times against the assigned model to derive overtime and account balances.
  - name: Holiday Calendar
    description: |
      Named sets of public holidays assigned to Users. They determine the non-working days used when target hours and absences are calculated.
  - name: Project Time
    description: |
      Time booked on a Task. Where a Working Time records that a person was at work, a Project Time records what they worked on.
  - name: Task
    description: |
      The account's task tree that Project Times are booked on. Tasks are hierarchical, can be bookable and billable, carry budgets, and can constrain recording. Users gain access through assignments.
  - name: Task to User Assignment
    description: |
      Grants an individual User access to a Task, and controls whether they may currently record on it.
  - name: Task to Leader Assignment
    description: |
      Makes a User the leader of a Task, responsible for the records booked beneath it.
  - name: Task to Team Assignment
    description: |
      Grants a whole Team access to a Task, instead of assigning each of its Users individually.
  - name: Drive Log
    description: |
      Logbook entries for trips in a Car: times, mileage, purpose, places visited, and the category separating business from private travel.
  - name: Drive Log Category
    description: |
      Classifies a Drive Log, most importantly as business or private, for tax and reporting purposes.
  - name: Car
    description: |
      The vehicles that Drive Logs are recorded against.
  - name: Track
    description: |
      The recorded GPS route of a Drive Log. A Drive Log holds at most one Track.
paths:
  /users:
    get:
      operationId: fetchUsers
      tags:
        - User
      summary: List Users
      description: Lists the Users the authenticated user or API token can access.
      parameters:
        - name: name
          in: query
          description: Only return Users whose name contains this text.
          required: false
          schema:
            type: string
        - name: entry_date_from
          in: query
          description: Only return Users whose entry date is on or after this day.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/LocalDate"
        - name: entry_date_to
          in: query
          description: Only return Users whose entry date is on or before this day.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/LocalDate"
        - name: resign_date_from
          in: query
          description: Only return Users whose resignation date is on or after this day.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/LocalDate"
        - name: resign_date_to
          in: query
          description: Only return Users whose resignation date is on or before this day.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/LocalDate"
        - name: resigned
          in: query
          description: Only return Users who have resigned (true) or have not resigned (false).
          required: false
          schema:
            type: boolean
        - name: employee_number
          in: query
          description: Only return Users with this employee number.
          required: false
          schema:
            type: string
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          example: ""
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/UsersSortColumn"
            default: name
      responses:
        "200":
          description: Page of Users.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetUsersNextPage:
              operationId: fetchUsers
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
    post:
      operationId: createUser
      tags:
        - User
      summary: Create a User
      description: Creates a User from the data in the request body.
      requestBody:
        description: User entity
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreate"
      responses:
        "201":
          description: The created User.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /users/{id}:
    get:
      operationId: getUser
      tags:
        - User
      summary: Get a User
      description: Returns a single User by its ID.
      parameters:
        - name: id
          in: path
          description: ID of the User.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The requested User.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateUser
      tags:
        - User
      summary: Update a User
      description: Updates the User with the fields present in the request body. Fields that are omitted stay unchanged.
      parameters:
        - name: id
          in: path
          description: ID of the User.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      requestBody:
        description: User entity
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdate"
      responses:
        "200":
          description: The updated User.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /users/{id}/working-time-accounts/{date}:
    get:
      operationId: getUserWorkingTimeAccounts
      tags:
        - Time Account
      summary: Get a User's working time accounts
      description: Returns the User's working time account balances as of the given day.
      parameters:
        - name: id
          in: path
          description: ID of the User.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: date
          in: path
          description: Day to return the balances for.
          required: true
          example: 2026-07-16
          schema:
            type: string
            format: date
            description: last balancing date
            example: 2023-03-28
      responses:
        "200":
          description: The User's working time account balances on the given day.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Accounts"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /users/{id}/accounts/{date}:
    get:
      operationId: getUserAccounts
      tags:
        - Time Account
      summary: Get a User's accounts
      description: Returns all of the User's account balances as of the given day, including overtime and surcharge accounts.
      parameters:
        - name: id
          in: path
          description: ID of the User.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: date
          in: path
          description: Day to return the balances for.
          required: true
          example: 2026-07-16
          schema:
            type: string
            format: date
            description: requested account date
            example: 2023-03-28
      responses:
        "200":
          description: The User's account balances on the given day.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Accounts"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /users/{id}/work-schedule-model:
    get:
      operationId: getUserWorkScheduleModel
      tags:
        - User
      summary: Get a User's Work Schedule Model
      description: Returns the Work Schedule Model assigned to the User, with all durations expressed in minutes.
      parameters:
        - name: id
          in: path
          description: ID of the User.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The Work Schedule Model assigned to the User.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkScheduleModel"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /users/{id}/tasks:
    get:
      operationId: fetchUserTasks
      tags:
        - Task
      summary: List a User's Tasks
      description: Lists the Tasks the User is assigned to and may record on.
      parameters:
        - name: id
          in: path
          description: ID of the User.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: parent_task_id
          in: query
          description: Only return Tasks whose parent is the Task with this ID.
          required: false
          schema:
            type: string
        - name: traverse_task_tree
          in: query
          description: Include Tasks from the whole subtree (true) or only direct children (false).
          required: false
          example: true/false
          schema:
            type: boolean
            default: true
        - name: name
          in: query
          description: Only return Users whose name contains this text.
          required: false
          schema:
            type: string
        - name: bookable
          in: query
          description: Only return entries that are billable (true) or not billable (false).
          required: false
          example: true/false
          schema:
            type: boolean
        - name: billable
          in: query
          description: Only return entries that are billable (true) or not billable (false).
          required: false
          example: true/false
          schema:
            type: boolean
        - name: active_at
          in: query
          description: Only return Tasks that are active on this day.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/LocalDate"
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          example: ""
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/TasksSortColumn"
            default: breadcrumbs
      responses:
        "200":
          description: Page of Tasks the User is assigned to.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TasksReducedPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetUserTasksNextPage:
              operationId: fetchUserTasks
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
  /users/{id}/team-memberships:
    get:
      operationId: fetchUserTeamMemberships
      tags:
        - User
      summary: List a User's Team memberships
      description: Lists the Teams the User is a member of.
      parameters:
        - name: id
          in: path
          description: ID of the User.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/TeamsSortColumn"
            default: breadcrumbs
      responses:
        "200":
          description: Page of Teams the User is a member of.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamsPartialPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetUserTeamMembershipsNextPage:
              operationId: fetchUserTeamMemberships
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
  /users/{id}/team-leaderships:
    get:
      operationId: fetchUserTeamLeaderships
      tags:
        - User
      summary: List a User's Team leaderships
      description: Lists the Teams the User leads.
      parameters:
        - name: id
          in: path
          description: ID of the User.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/TeamsSortColumn"
            default: breadcrumbs
      responses:
        "200":
          description: Page of Teams the User leads.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamsPartialPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetUserTeamLeadershipsNextPage:
              operationId: fetchUserTeamLeaderships
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
  /teams:
    get:
      operationId: fetchTeams
      tags:
        - Team
      summary: List Teams
      description: Lists the Teams the authenticated user or API token can access.
      parameters:
        - name: name
          in: query
          description: Only return Teams whose name matches this value in any segment of the breadcrumbs path.
          required: false
          schema:
            type: string
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/TeamsSortColumn"
            default: breadcrumbs
      responses:
        "200":
          description: Page of Teams.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamsPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetTeamsNextPage:
              operationId: fetchTeams
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
    post:
      operationId: createTeam
      tags:
        - Team
      summary: Create a Team
      description: Creates a Team from the data in the request body.
      requestBody:
        description: Team entity
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TeamCreate"
      responses:
        "201":
          description: The created Team.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /teams/{id}:
    get:
      operationId: getTeam
      tags:
        - Team
      summary: Get a Team
      description: Returns a single Team by its ID.
      parameters:
        - name: id
          in: path
          description: ID of the Team.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The requested Team.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateTeam
      tags:
        - Team
      summary: Update a Team
      description: Updates the Team with the fields present in the request body. Fields that are omitted stay unchanged.
      parameters:
        - name: id
          in: path
          description: ID of the Team.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      requestBody:
        description: Team entity
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TeamUpdate"
      responses:
        "200":
          description: The updated Team.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
    delete:
      operationId: deleteTeam
      tags:
        - Team
      summary: Delete a Team
      description: Deletes the Team. Members and leaders are unassigned, the Users themselves are not deleted.
      parameters:
        - name: id
          in: path
          description: ID of the Team.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "204":
          description: Deleted. No content is returned.
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /teams/{id}/members:
    get:
      operationId: fetchTeamMembers
      tags:
        - Team
      summary: List Team Members
      description: Lists the Users who are members of the Team.
      parameters:
        - name: id
          in: path
          description: ID of the Team.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/UsersSortColumn"
            default: name
      responses:
        "200":
          description: Page of Team Members.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersPartialPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetTeamMembersNextPage:
              operationId: fetchTeamMembers
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
  /teams/{team_id}/members/{user_id}:
    get:
      operationId: getTeamMember
      tags:
        - Team
      summary: Get a Team Member
      description: Returns the membership of a single User in the Team.
      parameters:
        - name: team_id
          in: path
          description: ID of the Team.
          required: true
          example: 3b8e6d14-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The requested Team Member.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPartial"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: addTeamMember
      tags:
        - Team
      summary: Add a Team Member
      description: Adds the User to the Team as a member. Returns 201 when the membership is created and 200 when it already existed.
      parameters:
        - name: team_id
          in: path
          description: ID of the Team.
          required: true
          example: 3b8e6d14-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The Team Member, which was already assigned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPartial"
        "201":
          description: The newly assigned Team Member.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPartial"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
    delete:
      operationId: removeTeamMember
      tags:
        - Team
      summary: Remove a Team Member
      description: Removes the User's membership in the Team. The User itself is not deleted.
      parameters:
        - name: team_id
          in: path
          description: ID of the Team.
          required: true
          example: 3b8e6d14-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "204":
          description: Removed. No content is returned.
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /teams/{id}/leaders:
    get:
      operationId: fetchTeamLeaders
      tags:
        - Team
      summary: List Team Leaders
      description: Lists the Users who lead the Team.
      parameters:
        - name: id
          in: path
          description: ID of the Team.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/UsersSortColumn"
            default: name
      responses:
        "200":
          description: Page of Team Leaders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersPartialPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetTeamLeadersNextPage:
              operationId: fetchTeamLeaders
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
  /teams/{team_id}/leaders/{user_id}:
    get:
      operationId: getTeamLeader
      tags:
        - Team
      summary: Get a Team Leader
      description: Returns the leadership of a single User in the Team.
      parameters:
        - name: team_id
          in: path
          description: ID of the Team.
          required: true
          example: 3b8e6d14-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The requested Team Leader.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPartial"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: addTeamLeader
      tags:
        - Team
      summary: Add a Team Leader
      description: Adds the User to the Team as a leader. Returns 201 when the leadership is created and 200 when it already existed.
      parameters:
        - name: team_id
          in: path
          description: ID of the Team.
          required: true
          example: 3b8e6d14-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The Team Leader, which was already assigned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPartial"
        "201":
          description: The newly assigned Team Leader.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPartial"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
    delete:
      operationId: removeTeamLeader
      tags:
        - Team
      summary: Remove a Team Leader
      description: Removes the User's leadership of the Team. The User itself is not deleted.
      parameters:
        - name: team_id
          in: path
          description: ID of the Team.
          required: true
          example: 3b8e6d14-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "204":
          description: Deleted. No content is returned.
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /work-schedule-models:
    get:
      operationId: fetchWorkScheduleModels
      tags:
        - Work Schedule Model
      summary: List Work Schedule Models
      description: Lists the Work Schedule Models the authenticated user or API token can access.
      parameters:
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/WorkScheduleModelSortColumn"
            default: name
      responses:
        "200":
          description: Page of Work Schedule Models.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkScheduleModelsPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetWorkScheduleModelsNextPage:
              operationId: fetchWorkScheduleModels
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
  /work-schedule-models/{id}:
    get:
      operationId: getWorkScheduleModel
      tags:
        - Work Schedule Model
      summary: Get a Work Schedule Model
      description: Returns a single Work Schedule Model by its ID.
      parameters:
        - name: id
          in: path
          description: ID of the Work Schedule Model.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The requested Work Schedule Model.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkScheduleModel"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteWorkScheduleModel
      tags:
        - Work Schedule Model
      summary: Delete a Work Schedule Model
      description: Deletes the Work Schedule Model. It cannot be deleted while it is still assigned to a User.
      parameters:
        - name: id
          in: path
          description: ID of the Work Schedule Model.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "204":
          description: Deleted. No content is returned.
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /working-times:
    get:
      operationId: fetchWorkingTimes
      tags:
        - Working Time
      summary: List Working Times
      description: Lists the Working Times the authenticated user or API token can access.
      parameters:
        - name: notes
          in: query
          description: Only return entries whose notes contain this text.
          required: false
          example: ""
          schema:
            type: string
        - name: start_from
          in: query
          description: Only return entries starting on or after this day.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/LocalDate"
        - name: start_to
          in: query
          description: Only return entries starting on or before this day.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/LocalDate"
        - name: last_modified_after
          in: query
          description: Only return entries modified after this instant.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/DateTime"
        - name: working_time_types
          in: query
          description: Only return entries of these Working Time Types.
          required: false
          example: ""
          schema:
            type: array
            items:
              type: string
        - name: working_time_type_categories
          in: query
          description: Only return entries whose Working Time Type is in one of these categories.
          required: false
          example: ""
          schema:
            type: array
            items:
              $ref: "#/components/schemas/WorkingTimeTypeCategory"
        - name: statuses
          in: query
          description: Only return entries in one of these statuses.
          required: false
          example: ""
          schema:
            type: array
            items:
              $ref: "#/components/schemas/WorkingTimeStatus"
        - name: users
          in: query
          description: Only return entries belonging to these users.
          required: false
          example: ""
          schema:
            type: array
            items:
              type: string
        - name: changed
          in: query
          description: Only return entries that were changed by the user (true) or left unchanged (false).
          required: false
          example: ""
          schema:
            type: boolean
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          example: ""
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/WorkingTimesSortColumn"
            default: start
      responses:
        "200":
          description: Page of Working Times.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkingTimesPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetWorkingTimesNextPage:
              operationId: fetchWorkingTimes
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
    post:
      operationId: createWorkingTime
      tags:
        - Working Time
      summary: Create a Working Time
      description: Creates a Working Time from the data in the request body.
      requestBody:
        description: Working Time entity
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkingTimeCreate"
      responses:
        "201":
          description: The created Working Time.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkingTime"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /working-times/{id}:
    get:
      operationId: getWorkingTime
      tags:
        - Working Time
      summary: Get a Working Time
      description: Returns a single Working Time by its ID.
      parameters:
        - name: id
          in: path
          description: ID of the Working Time.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The requested Working Time.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkingTime"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateWorkingTime
      tags:
        - Working Time
      summary: Update a Working Time
      description: Updates the Working Time with the fields present in the request body. Fields that are omitted stay unchanged.
      parameters:
        - name: id
          in: path
          description: ID of the Working Time.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      requestBody:
        description: Working Time entity
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkingTimeUpdate"
      responses:
        "200":
          description: The updated Working Time.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkingTime"
        "302":
          description: |
            No Working Time was created because the working time type requires a request (recordingMode BY_REQUEST); a Working Time Request was created instead. The Location header points to the created Working Time Request.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URI of the created Working Time Request
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
    delete:
      operationId: deleteWorkingTime
      tags:
        - Working Time
      summary: Delete a Working Time
      description: Deletes the Working Time.
      parameters:
        - name: id
          in: path
          description: ID of the Working Time.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "204":
          description: Deleted. No content is returned.
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /working-times:deleted:
    get:
      operationId: fetchDeletedWorkingTimes
      tags:
        - Working Time
      summary: List deleted Working Times
      description: Lists Working Times that were deleted, so a client holding a local copy can reconcile.
      parameters:
        - name: last_modified_after
          in: query
          description: Only return entries modified after this instant.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/DateTime"
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/DeletedEntrySortColumn"
            default: last_modified
      responses:
        "200":
          description: Page of deleted Working Times.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedEntryWithMetadataPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetDeletedWorkingTimesNextPage:
              operationId: fetchDeletedWorkingTimes
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
  /project-times:
    get:
      operationId: fetchProjectTimes
      tags:
        - Project Time
      summary: List Project Times
      description: Lists the Project Times the authenticated user or API token can access.
      parameters:
        - name: notes
          in: query
          description: Only return entries whose notes contain this text.
          required: false
          example: ""
          schema:
            type: string
        - name: start_from
          in: query
          description: Only return entries starting on or after this day.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/LocalDate"
        - name: start_to
          in: query
          description: Only return entries starting on or before this day.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/LocalDate"
        - name: last_modified_after
          in: query
          description: Only return entries modified after this instant.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/DateTime"
        - name: task
          in: query
          description: Only return entries recorded on the Task with this ID.
          required: false
          example: ""
          schema:
            type: string
        - name: traverse_task_tree
          in: query
          description: Include entries recorded on the whole subtree of the given Task (true) or only on the Task itself (false).
          required: false
          example: true/false
          schema:
            type: boolean
            default: true
        - name: billable
          in: query
          description: Only return entries that are billable (true) or not billable (false).
          required: false
          example: true/false
          schema:
            type: boolean
        - name: statuses
          in: query
          description: Only return entries in one of these statuses.
          required: false
          example: ""
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ProjectTimeStatus"
        - name: users
          in: query
          description: Only return entries belonging to these users.
          required: false
          example: ""
          schema:
            type: array
            items:
              type: string
        - name: changed
          in: query
          description: Only return entries that were changed by the user (true) or left unchanged (false).
          required: false
          example: ""
          schema:
            type: boolean
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          example: ""
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/ProjectTimesSortColumn"
            default: start
      responses:
        "200":
          description: Page of Project Times.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectTimesPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetProjectTimesNextPage:
              operationId: fetchProjectTimes
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
    post:
      operationId: createProjectTime
      tags:
        - Project Time
      summary: Create a Project Time
      description: Creates a Project Time from the data in the request body.
      requestBody:
        description: Project Time entity
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectTimeCreate"
      responses:
        "201":
          description: The created Project Time.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectTime"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /project-times/{id}:
    get:
      operationId: getProjectTime
      tags:
        - Project Time
      summary: Get a Project Time
      description: Returns a single Project Time by its ID.
      parameters:
        - name: id
          in: path
          description: ID of the Project Time.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The requested Project Time.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectTime"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateProjectTime
      tags:
        - Project Time
      summary: Update a Project Time
      description: Updates the Project Time with the fields present in the request body. Fields that are omitted stay unchanged.
      parameters:
        - name: id
          in: path
          description: ID of the Project Time.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      requestBody:
        description: Project Time entity
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectTimeUpdate"
      responses:
        "200":
          description: The updated Project Time.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectTime"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
    delete:
      operationId: deleteProjectTime
      tags:
        - Project Time
      summary: Delete a Project Time
      description: Deletes the Project Time.
      parameters:
        - name: id
          in: path
          description: ID of the Project Time.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "204":
          description: Deleted. No content is returned.
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /project-times:deleted:
    get:
      operationId: fetchDeletedProjectTimes
      tags:
        - Project Time
      summary: List deleted Project Times
      description: Lists Project Times that were deleted, so a client holding a local copy can reconcile.
      parameters:
        - name: last_modified_after
          in: query
          description: Only return entries modified after this instant.
          required: false
          example: ""
          schema:
            $ref: "#/components/schemas/DateTime"
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/DeletedEntrySortColumn"
            default: last_modified
      responses:
        "200":
          description: Page of deleted Project Times.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedEntryWithMetadataPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetDeletedProjectTimesNextPage:
              operationId: fetchDeletedProjectTimes
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
  /tasks:
    get:
      operationId: fetchTasks
      tags:
        - Task
      summary: List Tasks
      description: Lists the Tasks the authenticated user or API token can access.
      parameters:
        - name: parent_task_id
          in: query
          description: Only return Tasks whose parent is the Task with this ID.
          required: false
          schema:
            type: string
        - name: traverse_task_tree
          in: query
          description: Include Tasks from the whole subtree (true) or only direct children (false).
          required: false
          example: true/false
          schema:
            type: boolean
            default: true
        - name: name
          in: query
          description: Only return Users whose name contains this text.
          required: false
          schema:
            type: string
        - name: bookable
          in: query
          description: Only return entries that are billable (true) or not billable (false).
          required: false
          example: true/false
          schema:
            type: boolean
        - name: billable
          in: query
          description: Only return entries that are billable (true) or not billable (false).
          required: false
          example: true/false
          schema:
            type: boolean
        - name: active_at
          in: query
          description: Only return Tasks that are active on this day.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/LocalDate"
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          example: ""
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/TasksSortColumn"
            default: breadcrumbs
      responses:
        "200":
          description: Page of Tasks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TasksPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetTasksNextPage:
              operationId: fetchTasks
              parameters:
                page_token: $response.body#/next_page_token
        "400":
          $ref: "#/components/responses/BadRequest"
    post:
      operationId: createTask
      tags:
        - Task
      summary: Create a Task
      description: Creates a Task from the data in the request body.
      requestBody:
        description: Project Time entity
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskCreate"
      responses:
        "201":
          description: The created Task.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /tasks/{id}:
    get:
      operationId: getTask
      tags:
        - Task
      summary: Get a Task
      description: Returns a single Task by its ID.
      parameters:
        - name: id
          in: path
          description: ID of the Task.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The requested Task.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateTask
      tags:
        - Task
      summary: Update a Task
      description: Updates the Task with the fields present in the request body. Fields that are omitted stay unchanged.
      parameters:
        - name: id
          in: path
          description: ID of the Task.
          required: true
          example: 074e7048-9097-11eb-a8b3-0242ac130003
          schema:
            type: string
      requestBody:
        description: Task entity
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskUpdate"
      responses:
        "200":
          description: The updated Task.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /tasks/{task_id}/users:
    get:
      operationId: fetchTaskToUserAssignments
      tags:
        - Task to User Assignment
      summary: List Task to User Assignments
      description: Lists the Users assigned to the Task, together with the budget and recording settings of each assignment.
      parameters:
        - name: task_id
          in: path
          description: ID of the Task.
          required: true
          example: 5c2a9f38-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/TaskToUserAssignmentsSortColumn"
            default: user_name
      responses:
        "200":
          description: Page of Task to User Assignments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskToUserAssignmentsPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetTaskToUserAssignmentsNextPage:
              operationId: fetchTaskToUserAssignments
              parameters:
                page_token: $response.body#/next_page_token
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /tasks/{task_id}/users/{user_id}:
    get:
      operationId: getTaskToUserAssignment
      tags:
        - Task to User Assignment
      summary: Get a Task to User Assignment
      description: Returns the assignment of a single User to the Task.
      parameters:
        - name: task_id
          in: path
          description: ID of the Task.
          required: true
          example: 5c2a9f38-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The requested Task to User Assignment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskToUserAssignment"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: upsertTaskToUserAssignment
      tags:
        - Task to User Assignment
      summary: Create or update a Task to User Assignment
      description: Assigns the User to the Task, or updates the existing assignment. Returns 201 when the assignment is created and 200 when it already existed. On update, only the properties present in the request body change.
      parameters:
        - name: task_id
          in: path
          description: ID of the Task.
          required: true
          example: 5c2a9f38-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      requestBody:
        description: Task to User Assignment entity
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskToUserAssignmentUpsert"
      responses:
        "200":
          description: The updated Task to User Assignment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskToUserAssignment"
        "201":
          description: The created Task to User Assignment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskToUserAssignment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
    delete:
      operationId: deleteTaskToUserAssignment
      tags:
        - Task to User Assignment
      summary: Delete a Task to User Assignment
      description: Removes the User's assignment to the Task.
      parameters:
        - name: task_id
          in: path
          description: ID of the Task.
          required: true
          example: 5c2a9f38-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "204":
          description: Deleted. No content is returned.
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /tasks/{task_id}/leaders:
    get:
      operationId: fetchTaskToLeaderAssignments
      tags:
        - Task to Leader Assignment
      summary: List Task to Leader Assignments
      description: Lists the Users assigned to the Task as leaders.
      parameters:
        - name: task_id
          in: path
          description: ID of the Task.
          required: true
          example: 5c2a9f38-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/TaskToLeaderAssignmentsSortColumn"
            default: user_name
      responses:
        "200":
          description: Page of Task to Leader Assignments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskToLeaderAssignmentsPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetTaskToLeaderAssignmentsNextPage:
              operationId: fetchTaskToLeaderAssignments
              parameters:
                page_token: $response.body#/next_page_token
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /tasks/{task_id}/leaders/{user_id}:
    get:
      operationId: getTaskToLeaderAssignment
      tags:
        - Task to Leader Assignment
      summary: Get a Task to Leader Assignment
      description: Returns the leader assignment of a single User to the Task.
      parameters:
        - name: task_id
          in: path
          description: ID of the Task.
          required: true
          example: 5c2a9f38-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The requested Task to Leader Assignment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskToLeaderAssignment"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: createTaskToLeaderAssignment
      tags:
        - Task to Leader Assignment
      summary: Create a Task to Leader Assignment
      description: Assigns the User to the Task as a leader. Returns 201 when the assignment is created and 200 when it already existed.
      parameters:
        - name: task_id
          in: path
          description: ID of the Task.
          required: true
          example: 5c2a9f38-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The Task to Leader Assignment, which already existed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskToLeaderAssignment"
        "201":
          description: The created Task to Leader Assignment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskToLeaderAssignment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
    delete:
      operationId: deleteTaskToLeaderAssignment
      tags:
        - Task to Leader Assignment
      summary: Delete a Task to Leader Assignment
      description: Removes the User's leader assignment to the Task.
      parameters:
        - name: task_id
          in: path
          description: ID of the Task.
          required: true
          example: 5c2a9f38-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: user_id
          in: path
          description: ID of the User.
          required: true
          example: 0f1c3a52-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "204":
          description: Deleted. No content is returned.
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /tasks/{task_id}/teams:
    get:
      operationId: fetchTaskToTeamAssignments
      tags:
        - Task to Team Assignment
      summary: List Task to Team Assignments
      description: Lists the Teams assigned to the Task.
      parameters:
        - name: task_id
          in: path
          description: ID of the Task.
          required: true
          example: 5c2a9f38-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: page_token
          in: query
          description: Token identifying the page to return. Take it from the 'next_page_token' field of the previous response.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of entries per page. Values above 500 are capped at 500.
          required: false
          schema:
            minimum: 1
            default: 20
            type: integer
            format: int32
        - name: sort_direction
          in: query
          description: Direction to sort the entries in.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortDirection"
            default: asc
        - name: sort_by
          in: query
          description: Property to sort the entries by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/TaskToTeamAssignmentsSortColumn"
            default: team_name
      responses:
        "200":
          description: Page of Task to Team Assignments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskToTeamAssignmentsPage"
          headers:
            Link:
              schema:
                type: string
                format: uri
              description: link to the next page including filter parameters and page token
          links:
            GetTaskToTeamAssignmentsNextPage:
              operationId: fetchTaskToTeamAssignments
              parameters:
                page_token: $response.body#/next_page_token
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /tasks/{task_id}/teams/{team_id}:
    get:
      operationId: getTaskToTeamAssignment
      tags:
        - Task to Team Assignment
      summary: Get a Task to Team Assignment
      description: Returns the assignment of a single Team to the Task.
      parameters:
        - name: task_id
          in: path
          description: ID of the Task.
          required: true
          example: 5c2a9f38-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: team_id
          in: path
          description: ID of the Team.
          required: true
          example: 3b8e6d14-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
      responses:
        "200":
          description: The requested Task to Team Assignment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskToTeamAssignment"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: createTaskToTeamAssignment
      tags:
        - Task to Team Assignment
      summary: Create a Task to Team Assignment
      description: Assigns the Team to the Task. Returns 201 when the assignment is created and 200 when it already existed.
      parameters:
        - name: task_id
          in: path
          description: ID of the Task.
          required: true
          example: 5c2a9f38-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
        - name: team_id
          in: path
          description: ID of the Team.
          required: true
          example: 3b8e6d14-9d47-11eb-a8b3-0242ac130003
          schema:
            type: string
[...]
